#header {
    border-bottom: 1px solid #f1f1f1;
    position: relative;
}

#nav {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


/* right */
.logo {
    flex: 1;
}

.logo svg {
    display: flex;
    width: 140px;
}

/* center */
.navigation {
    flex: 2;
}

.navigation .sub-menu {
    display: flex;
    justify-content: space-between;
}

.navigation .sub-menu li{
    list-style: none;
}

.navigation .sub-menu li a i{
    color: var(--color-icon);
    font-size: var(--fs-icon);
}

.navigation .sub-menu .sub-menu-a{
    list-style: none;
    line-height: 80px;
}

.navigation .sub-menu li a.sub-menu-a {
    text-decoration: none;
    color: var(--text-color-a);
    font-weight: var(--fw-a);
    font-size: var(--fs-a);
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px 20px;
}

.navigation .sub-menu li a.sub-menu-a:hover {
    background-color: var(--bg-hover);
    border-radius: 25px;
}
.box-children-menu{
    position: absolute;
    background-color: var(--bg-nav);
    width: 100%;
    z-index: 2;
    left: 0;
    display: none;
}
.navigation .sub-menu li.hover-template:hover .box-children-menu{
    display: block;
}
.box-children-menu .children-menu {
    max-width: 1280px;
    border-top: 1px solid #eee;
    margin: auto;
    padding-top: 43px;
    padding-bottom: 43px;
    display: flex;
}

.box-children-menu .children-menu .children-left {
    flex: 2;
    display: flex;
    gap: 105px;
}

.box-children-menu .children-menu 
.children-left ul li {
    line-height: 2.2;
    list-style: none;
}

.box-children-menu .children-menu 
.children-left ul li a{
    text-decoration: none;
    color: var(--text-color-a14);
    font-size: 14px;
}
.box-children-menu .children-menu 
.children-left ul .title-info{
    color: var(--text-color-a);
    font-weight: var(--fw-a);
    font-size: var(--fs-a);
}

.box-children-menu .children-menu 
.children-left ul li a:hover{
    color: var(--text-color-a);
}

.box-children-menu .children-menu .children-right {
    flex: 1;
    background-color: #eff6ff;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 30px 30px;
    border-radius: 15px;
    transition: all .1s ease-in-out;
}

.box-children-menu .children-menu .children-right:hover{
    background-color: var(--bg-hover);
}

.box-children-menu .children-menu .children-right .box-children-right{
    flex: 1;
}

.box-children-menu .children-menu .children-right 
.box-children-right .title-box-children-right{
    color: var(--text-color-a14);
    font-size: var(--fs-a-14);
    margin-bottom: 8px;
}

.box-children-menu .children-menu .children-right 
.box-children-right .title-main-box-children-right{
    font-weight: var(--fw-h2);
}

.box-children-menu .children-menu .children-right .box-children-right 
.btn-box-children-right{
    background-color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: var(--text-color-a);
    font-weight: var(--fw-a);
    font-size: var(--fs-a-14);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 40px;
    transition: all .1s ease-in-out;
}

.box-children-menu .children-menu .children-right .box-children-right 
.btn-box-children-right:hover{
    background-color: var(--bg-hover-btn);
}

.box-children-menu .children-menu .children-right .box-children-left{
    flex: 1;
}

.box-children-menu .children-menu 
.children-right .box-children-left img{
    width: 85%;
}

/* left */
.flex-icons {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.flex-icons i{
    padding-left: 20px;
    padding-right: 20px;
    padding: 15px 15px;
    font-size: 20px;
}

.flex-icons i:hover {
    background-color: var(--bg-hover);
    border-radius: 50%;
}