.banner-third{
    background-color: var(--bg-banner3);
    border-radius: 50px;
    height: 588px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    padding: 50px 100px;
    margin-bottom: 130px;
}

.banner-third .btn-purple {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--choose-purple);
    border-radius: 50%;
    left: 530px;
    top: 30px;
}

.banner-third .btn-green {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--choose-green);
    border-radius: 50%;
    right: 70px;
    top: 130px;
}

.banner-third .btn-yellow {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--choose-yellow);
    border-radius: 50%;
    right: 130px;
    bottom: 80px;
}

.banner-third .btn-blue {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--choose-blue);
    border-radius: 50%;
    left: 590px;
    bottom: 30px;
}

.banner-third .btn-orange {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--choose-orange);
    border-radius: 50%;
    left: 150px;
    bottom: 40px;
}

.banner-third .content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-third .content-left h2{
    font-size: var(--fs-h2-title);
    line-height: 1.2;
    font-weight: var(--fw-h2);
}

.banner-third .content-left p{
    margin-top: 20px;
    color: var(--color-blur-h2);
}

.banner-third .content-left .step {
    margin-top: 30px;
}

.banner-third .content-left .step ul li{
    display: flex;
    align-items: center;
}

.banner-third .content-left .step ul li p{
    color: var(--text-color-a);
    font-weight: var(--fw-a);
}

.banner-third .content-left .step ul li .btn-step{
    padding: 2px 10px;
    border-radius: 25px;
    font-size: var(--fs-quantity);
    margin-right: 10px;
}

.banner-third .content-left .step ul li .purple{
    background-color: var(--bg-step-purple);
    color: var(--color-step-purple);
}

.banner-third .content-left .step ul li .blue{
    background-color: var(--bg-step-blue);
    color: var(--color-step-blue);
}

.banner-third .content-left .step ul li .red{
    background-color: var(--bg-step-red);
    color: var(--color-step-red);
}

.banner-third .content-left .text-email{
    margin-top: 30px;
    max-width: 375px;
    position: relative;
}

.banner-third .content-left .text-email input{
    width: 100%;
    outline: none;
    padding: 12px 20px;
    border-radius: 25px;
    border: 1px solid var(--bd-hr);
    font-size: var(--fs-type);
    font-family: "Poppins", sans-serif;
}

.banner-third .content-left .text-email i{
    position: absolute;
    background-color: var(--btn-primary);
    color: var(--btn-text);
    padding: 12px 12px;
    border-radius: 50%;
    right: 4px;
    bottom: 3px;
    cursor: pointer;
}

.banner-third .content-left .text-email i:hover{
    background-color: var(--bg-hover-type);
}

.banner-third .content-right img{
    position: absolute;
    width: 590px;
    top: -60px;
    right: 0;
}

/* box product */
.box-products{
    margin-bottom: 130px;
}

.carousel-products .box-title-pro h2{
    font-size: var(--fs-h2);
    font-weight: var(--fw-h2);
}

.carousel-products .box-title-pro p{
    font-size: var(--fs-title);
    color: var(--color-blur-h2);
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

.box-products .nav-list-pro{
    display: flex;
    justify-content: space-between;
}

.box-products .nav-list-pro .nav-left{
    display: flex;
}

.box-products .nav-list-pro .nav-left .btn-nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.box-products .nav-list-pro .nav-left .btn-nav p{
    border-radius: 50px;
    padding: 8px 25px;
    color: var(--color-blur-h2);
    font-weight: var(--fw-a);
    cursor: pointer;
}

.box-products .nav-list-pro .nav-left .btn-nav:hover{
    background-color: var(--bg-hover);
    color: var(--text-color-p);
    border-radius: 25px;
}

.box-products .nav-list-pro .nav-left .btn-nav input{
    position: absolute;
    top: -12px;
    left: 19px;
    width: 90px;
    height: 90px;
    opacity: 0;
    cursor: pointer;
}

input:checked + .active{
    background-color: var(--bg-list-category);
    color: var(--text-btn) !important;
}


.box-products .nav-list-pro .nav-right{
    border-radius: 50px;
    padding: 10px 25px;
    margin-right: 10px;
    background-color: var(--bg-list-category);
    color: var(--text-btn);
    font-weight: var(--fw-a);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.box-products .nav-list-pro .nav-right p{
    margin: 0 10px;
}

.box-products .nav-list-pro .nav-right .fa-chevron-up{
    margin-left: 10px;
}

.hr-nav{
    max-width: 1280px;
    margin: auto;
    border: 1px solid var(--bd-hr);
    margin-bottom: 35px;
    margin-top: 35px;
    text-align: center;
}

.box-products .choose-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.box-products .choose-info .info-left{
    display: flex;
}

.box-products .choose-info .info-left .active{
    border-color: var(--bd-active) !important;
    background-color: #f0f9ff;
}

.box-products .choose-info .info-left .active p i{
    color: var(--bd-active);
}

.box-products .choose-info .info-left .btn-info{
    margin-right: 15px;
    border: 1px solid var(--bd-hr);
    padding: 8px 15px;
    border-radius: 25px;
    color: var(--text-color-a14);
    font-size: var(--fs-a-14);
    cursor: pointer;
}

.box-products .choose-info .info-left .btn-info:hover{
    border-color: var(--bg-hr);
}

.box-products .choose-info .info-left .btn-info i{
    margin: 0 7px;
}

.box-products .choose-info .info-right{
    margin-right: 15px;
    border: 1px solid var(--bd-hr);
    padding: 8px 15px;
    border-radius: 25px;
    color: var(--text-color-a14);
    font-size: var(--fs-a-14);
    cursor: pointer;
}

.box-products .choose-info .info-right:hover{
    border-color: var(--bg-hr);
}

.box-products .choose-info .info-right i{
    margin: 0 7px;
}

.box-products .list-products .btn-load{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.box-products .list-products .btn-load .box{
    background-color: var(--btn-primary);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.box-products .list-products .btn-load .box:hover{
    background-color: var(--bg-hover-btn-primary);
}

.box-products .list-products .btn-load .box svg{
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

.box-products .list-products .btn-load .box a{
    text-decoration: none;
    color: var(--text-btn);
    font-weight: var(--fw-a);
}

.box-products .list-products .btn-load .box svg circle{
    color: var(--color-circle);
}

.box-products .list-products .btn-load .box .animate-spin{
    color: var(--color-load);
}

@keyframes spin {
    to{
        transform: rotate(1turn);
    }
}

@media only screen and (max-width: 1024px) {
    .banner-third{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 20px 20px;
    }
    .banner-third .content-left{
        width: 512px;
    }
    .banner-third .content-right img{
        position: relative;
        top: 26px;
        width: 512px;
    }
    .box-products .choose-info{
        display: none;
    }
    .box-products .nav-list-pro{
        display: flex;
        flex-direction: column;
    }
    .box-products .nav-list-pro .nav-left{
        margin-bottom: 25px;
    }
    .box-products .nav-list-pro .nav-right{
        justify-content: center;
    }
}

@media only screen and (max-width: 667px) {
    .banner-third .content-left h2{
        font-size: var(--fs-rp-h2);
    }
    .banner-third .content-left{
        width: auto;
    }
    .banner-third .btn-green{
        display: none;
    }
    .banner-third .content-right img{
        width: 311px;
    }
    .carousel-products .box-title-pro h2{
        font-size: var(--fs-rp-h2);
    }
    .box-products .nav-list-pro{
        font-size: var(--fs-rp-btn);
    }
    .box-products .nav-list-pro .nav-left .btn-nav p{
        padding: 8px 20px;
    }
    .box-products .nav-list-pro .nav-left .btn-nav{
        padding: 0 2px;
        margin-right: 2px;
    }
    .carousel-products .carousel-second .list-customize{
        display: grid;
    }
    .carousel-second .list-customize .product-detail{
        width: 343px;
    }
    .box-products .list-products .btn-load .box{
        padding: 10px 15px;
    }
    .box-products .nav-list-pro .nav-left .btn-nav{
        margin-right: 7px;
    }
}