.banner-first{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 20px;
}

.banner-first .box-text-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
}

.banner-first .box-text-content .title-content{
    font-size: var(--fs-h2);
    line-height: 1.2;
    padding-top: 60px;
}

.banner-first .box-text-content .description{
    padding-top: 30px;
    color: var(--color-blur-h2);
}

.banner-first .box-text-content .box-btns{
    padding-top: 40px;
    display: flex;
}

.banner-first .box-text-content .box-btns .btn{
    border: 1px solid var(--bd-checked);
    padding: 15px 25px;
    border-radius: 50px;
}

.banner-first .box-text-content .box-btns .left{
    background-color: #333;
    color: var(--text-btn);
    margin-right: 20px;
}

.banner-first .box-banner img{
    width: 100%;
}