#slider{
    background-color: var(--bg-slider);
    height: 550px;
    position: relative;
    margin-bottom: 40px;
}
#slider .row-slider{
    display: flex;
    max-width: 1280px;
    margin: auto;
    height: 100%;
}
#slider .row-slider .col-left{
    flex: 2;
    position: relative;
}
#slider .row-slider .col-right{
    flex: 1;
}
.col-right img{
    object-fit: cover;
    position: absolute;
    width: 550px;
    right: 8px;
}
#slider .row-slider .col-left .purple{
    background-color: var(--bg-circle-purple);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    right: 250px;
    top: 70px;
}
#slider .row-slider .col-left .green{
    background-color: var(--bg-circle-green);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: 65px;
    left: 240px;
}
#slider .row-slider .col-left .orange{
    background-color: var(--bg-circle-orange);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 80px;
    bottom: 95px;
}

#slider .row-slider .col-left .box-title-banner{
    position: relative;
    height: 100%;
    z-index: 1;
    margin-top: 100px;
}
#slider .row-slider .col-left .box-title-banner .title-small{
    color: var(--text-color-p);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
}
#slider .row-slider .col-left .box-title-banner .title-main{
   font-size: 72px; 
   line-height: 1.2;
   padding-bottom: 40px;
   margin-bottom: 30px;
   font-weight: 600;
}
#slider .row-slider .col-left .box-title-banner .btn-banner{
    display: inline;
    background-color: var(--btn-primary);
    font-size: 16px;
    text-decoration: none;
    font-weight: var(--fw-a);
    color: #fff;
    padding: 20px 36px;
    border-radius: 50px;
}

#slider .row-slider .col-left .box-title-banner .btn-banner:hover{
    background-color: var(--bg-hover-btn-primary);
    
}

.dot-slider{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.dot-slider .dot{
    height: 4px;
    width: 70px;
    background-color: #fff;
    margin: 0 10px;
    border-radius: 50px;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.06);
}
.dot-slider .active{
    background-color: #333;
}