:root{
    --fs-a: 15px;
    --fs-a-14: 14px;
    --fs-h2: 36px;
    --fs-icon: 12px;
    --fs-type: 14px;
    --fs-check: 12px;
    --fs-step: 12px;
    --fs-p: 16px;
    --fs-h2-title: 48px;
    --fs-quantity: 12px;
    --fs-h2-pro: 23px;
    --fs-h2-cate: 34px;
    --fs-a-cate: 17px;
    --fs-p-title: 18px;

    --text-color-a: rgb(51 65 85);
    --text-btn: #fff;
    --text-color-a14: #475569;
    --text-color-p: #020202;
    --color-h2: #111827;
    --color-blur-h2: #6b7280;
    --color-icon: #94a3b8;
    --text-color-hover: #fff;
    --color-icons: #fbbf24;
    --color-step-red: #991b1b;
    --color-step-blue: #3730a3;
    --color-step-yellow: #854d0e;
    --color-step-purple: #6b21a8;
    --btn-text: #fff;
    --btn-primary: #0f172a;

    --fw-h2: 600;
    --fw-a: 500;
    --fw-p: 600;
    
    --bg-hover-btn-primary: #1b2338;
    --bg-hover: rgb(241 245 249);
    --bg-slider: #e3ffe6;
    --bg-nav: #fff;
    --bg-hover-btn: #f3f4f6;
    --bg-vc-first: #fefce8;
    --bg-vc-second: #fef2f2;
    --bg-vc-third: #eff6ff;
    --bg-vc-fourth: #f0fdf4;
    --bg-product: #f8fafc;
    --bg-type: #fff;
    --bg-hover-type: #333;
    --bg-hover-check: #dfe0e2;
    --bg-step-red: #fee2e2;
    --bg-step-blue: #e0e7ff;
    --bg-step-yellow: #fef9c3;
    --bg-step-purple: #f3e8ff;
    --bg-category: #f7f7f9;
    --bg-nav-category: #fff;
    --bg-list-category: #333;
    --bg-img: #eef2ff;
    --bg-banner2: #fefce8;
    --bg-banner3: #f8fafc;
    --bg-depart1: #e0e7ff;
    --bg-depart2: #f1f5f9;
    --bg-depart3: #e0f2fe;
    --bg-depart4: #ffedd5;
    --bg-circle-purple: #c280d2;
    --bg-circle-green: #43b97f;
    --bg-circle-yellow: #ffb951;
    --bg-circle-orange: #ff6650;

    --bd-price: #22c55e;
    --bd-checked: #333;
    --bd-btn: #f3f4f6;
    --bd-hr: #e2e8f0;
    --bd-active: #0ea5e9;

    --choose-purple: #a78bfa;
    --choose-yellow: #facc15;
    --choose-orange: #fb923c;
    --choose-blue: #38bdf8;
    --choose-green: #4ade80;
}